html{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Handlee', cursive;
	font-size: 13pt;
	padding: 10px;
	margin: 0;
	background-color: #efefef;
	border: 3px solid purple;
	padding: 30px;
	margin: 30px;
}
h1 {
	font-size: 15pt;
	color: #20bcd5;
	text-align: center;
	padding: 18px 0 18px 0;
	margin: 0 0 10px 0;
}
p {
	padding: 0;
	margin: 0;
	color: silver;
}
h4 {
	color: #64ceab


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #303030;
}
table#t01 {
float: left;
width: 50%;
height: 50%;	
}
table#t01 td {
	background-color: gray;
}

td {
	
	/*border-collapse: none;*/
	padding: 5px;
}
th {
	text-align: left;
}
table {
	width: 100%;
	border-spacing: 20px;
	
}
#mainlist {
	background-color: gray;
}
p.news {
	background-color: blue;
}
.log-div {
	float : right;
	
}
.h-div {
	float: left;
}
/*a.section: link {*/
	/*color: white;*/
/*}*/
a.section:visited {
	color: white;
}
a.section:hover {
	color: silver;
}
a.section:active {
	color: white;
}
.img-banner{
	width: 100%;
	height: 300px;
}
.logins {
	color: black;
}

.aside {
	float: right;
	margin-right: 30px;
	padding: 50px;
}

.footer {
	width: 100%;
	text-align: center;
	padding-top: 5px;
}
.footer::before {
	content: "Powered by Comp433-Course ©.";
}
.login {
	text-align: center;
	border: 2px solid silver;
	margin: 200px;
	padding: 50px;
}
body.aboutus {
	font-family: 'Handlee', cursive;
	font-size: 13pt;
	background-color: #efefef;
	padding: 10px;
	margin: 0;
}
h1.aboutus {
	font-size: 15pt;
	color: #20bcd5;
	text-align: center;
	padding: 18px 0 18px 0;
	margin: 0 0 10px 0;
	
}
h1 span {
	border: 4px dashed #20bcd5;
	padding: 10px;
	
}
p.aboutus {
	padding: 0;
	margin: 0;
}


body.aboutus {
	font-family: 'Handlee', cursive;
	font-size: 13pt;
	background-color: #efefef;
	padding: 10px;
	margin: 0;
}
h1.aboutus {
	font-size: 15pt;
	color: #20bcd5;
	text-align: center;
	padding: 18px 0 18px 0;
	margin: 0 0 10px 0;
	
}
h1 span {
	border: 4px dashed #20bcd5;
	padding: 10px;
	
}
p.aboutus {
	padding: 0;
	margin: 0;
}

.section {
	background-color: #fff;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 10px;
	overflow: auto;
	border-right: 2px solid silver;
	margin-right: 30px;
}
	

hr {
	border: 0;
	height: 10px;
	background: #f36f48;
}
form {
	text-align: center;
	margin-top: 0;
}
.submit {
	background-color: #3fb6b2;
	padding: 12px 45px;
	border-radius: 5px;
	cursor: pointer;
	color: #ffffff;
	border: none;
	outline: none;
	margin: 0;
	font-weight: bold;
}
.submit:hover {
	background-color: #43a09d;
}
textarea {
	height: 100px;
}
input, textarea {
	margin-bottom: 10px;
	font-size: 11pt;
	padding: 15px 10px 10px;
	border: 1px solid #cecece;
	background-color: #efefef;
	color: #787575;
	border-radius: 5px;
	width: 70%;
	outline: none;
}
.img-circle {
	border: 3px solid white;
	border-radius: 50%;
	
	
}
#header {
	/*background-image: url();*/
	background-size: cover;
}
#header img {
	display: block;
	width: 80px;
	height: 80px;
	margin: auto;
	
}
#header p {
	font-size: 35pt;
	color: #3b464c;
	padding-top: 5px;
	margin: 0;
	font-weight: bold;
	text-align: center;
}
.quote {
	font-size: 12pt;
	text-align: right;
	margin-top: 10px;
}
table {
	width: 100%;
	font-size: 11pt;
}
#contacts img {
	height: 50px;
	width: 50px;
	margin-left: 7px;
	margin-right: 7px;
	
}
#contacts a {
	text-decoration: none;
}
#contact img:hover {
	opacity: 0.8;
}
#contacts {
	text-align: center;
	
}
.copyright {
	font-size: 8pt;
	text-align: right;
	padding-bottom: 10px;
	color: grey;
}
.logos img{
	border: 1px solid silver;
	width: 50px;
	height: 50px;
	margin: 20px;
	padding: 20px;
}
#links {
	color: grey;
	float: right;
	}
a {
		color: white;
	}