body{
    margin: 0;
}

header nav a[href="tuitionFeesPage.html"]{
    color: white;
}

header,footer{
    width: 100%;
    height: 180px;
    background-color: #333333;
    color: white;
}

header h1{
    margin: 0;
}

footer{
    position:absolute;
    bottom:0;
}

#content{
    margin-left: 10%;
}
